@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* MODERN RESET CSS */

:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}
*,
::after,
::before {
  box-sizing: border-box;
}
a,
button {
  cursor: revert;
}
menu,
ol,
ul {
  list-style: none;
}
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  -webkit-user-select: auto;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  appearance: revert;
}
:where(pre) {
  all: revert;
}
::placeholder {
  color: unset;
}
::marker {
  content: initial;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]:not([contenteditable='false'])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}
:where([draggable='true']) {
  -webkit-user-drag: element;
}
:where(dialog:modal) {
  all: revert;
}

/*  VARIABLES */

:root {
  /* IN LARGER PROJECTS I TEND TO CREATE VARIABLES FOR DIFFERENT FONT FAMILIES, DEFAULT SIZES FOR FONTS AND SO ON.
     IT IS A BIT OVERKILL FOR A SINGLE COMPONENT BUT USEFUL TO HAVE. */

  --ff-primary: 'Space Grotesk', sans-serif;
  --fs-400: 1.125rem;
  --fw-medium: 500;

  --clr-blue: hsl(249, 99%, 64%);
  --clr-violet: hsl(278, 94%, 30%);

  --clr-primary: hsl(278, 68%, 11%);
  --clr-white: hsl(0, 0, 100%);
  --clr-danger: hsl(0, 100%, 66%); /* input errors  */

  --clr-violet-lighter: hsl(270, 3%, 87%);
  --clr-violet-darker: hsl(279, 6%, 55%);

  --linear-gradient: linear-gradient(var(--clr-blue) to var(--clr-violet));
}

/* GENERAL STYLES */

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-medium);
  font-size: var(--fs-400);
  color: var(--clr-primary);
}

section.payment {
  background: url('../images/bg-main-desktop.png') left/cover no-repeat;
  background-size: 30%;
  height: 100vh;
  display: block;
  width: 100vw;
}

/* LAYOUT */

.grid-column-flow {
  display: grid;
  grid-auto-flow: column;
}
